.sidebar {

}

.sidebar.open {
}

.background {
}

.nav {
}

.nav a {
    margin: 0 10px;
}

.nav a:hover {
}

.nav a.active {
    color: #00cc22;
    background-color: blue;
}
.close {
}

.close img {
}
